@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@media (max-width: 764px) {
    .summary {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
        justify-content: center;
    }
}

#me {
    width: 502px;
    height: 730px;
    object-fit: contain;
    margin: 25px;
}

.about {
    color: #A2C1FF;
    font-size: 55px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.summary {
    display: flex;
    padding: 40px;
}

.summaryContent {
    font-size: 40px;
    margin-left: 100px;
    line-height: 1.8;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}